body {
    display:flex; align-items: center; justify-content: center;
}

.main {
    display:flex;
    flex-direction: column;
}

.shoulder {
    position: relative;
    height: 10px;
    
}

.L-shoulder {
    position:absolute;
    left:14%;
    top:30%;
    
}

.R-shoulder {
    position: absolute;
    left:66%;
    top:30%;

}

#LB {
    
}

#RB {

}

.controller {
    position:relative;
}

.L-axis {
    position:absolute;
    left:16.9%;
    top: 20.3%;
}

.R-axis {
    position:absolute;
    left:60%;
    top: 43.6%;
}

.d-pad {
    position: absolute;
    left: 34.2%;
    top: 37.5%;
}

.relative-d-pad {
    position: relative;
}

#up, #right, #left, #down {
    position: absolute;
    
}

#left, #right {
    top: 17px;
} 
#left {
    
    left: -17px;
}

#down {
    top: 27px;
}

#right {
    left: 10px;
}

