:root {
    --Primary-color : black;
    --Active: rgb(79, 214, 255);
    opacity:50%;
}

body {
    display:flex; align-items: center; justify-content: center;
}

.active {
    fill: var(--Active);
    stroke: var(--Active);
}

.inactive {
    fill: var(--Primary-color);
    stroke: var(--Primary-color);
}

.main {
    display:flex;
    flex-direction: column;
}

.shoulder {
    position: relative;
    height: 10px;
    
}

.L-shoulder {
    position:absolute;
    left:14%;
    top:30%;
    
}

.R-shoulder {
    position: absolute;
    left:66%;
    top:30%;

}

#LB {
    
}

#RB {

}

.controller {
    position:relative;
}

.L-axis {
    position:absolute;
    left:17%;
    top: 20.3%;
}

.R-axis {
    position:absolute;
    left:60.1%;
    top: 43.75%;
}

.d-pad {
    position: absolute;
    left: 34.2%;
    top: 37.5%;
}

.relative-d-pad {
    position: relative;
}

#up, #right, #left, #down {
    position: absolute;
    
}

#left, #right {
    top: 17px;
} 
#left {
    
    left: -17px;
}

#down {
    top: 27px;
}

#right {
    left: 10px;
}

.buttons {
    position: relative;
    left:73.65%;
    top: -158.2px;
}

#Y, #B, #X, #A {
    position: absolute;
}

#X, #B {
    top: 15.8px;
}

#B {
    left:14.8px;
    top: 16.5px;
   
}

#A {
    left: -0.4px;
    top:32.1px;
}

#X {
    left: -15.4px;
}

.center {
    position: relative;
    top: -166.75px;
    left:138px;

}

#XBOX, #view, #share, #menu {
    position:absolute;
}

#view {
    top:27px;
    left:-18.25px;

}

#menu {
    top:27.4px;
    left:25.8px;
}

#share {
    top:41.35px;
    left:2.1875px;
}

